.modal-button {
  border: 1px solid #2B3E50;
  background: #485563;
}
.modal-button:hover {
  background: #2B3E50;
}
.disabled {
  pointer-events: none;
}
.tooltip {
  position: fixed;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
.alert {
  display: none;
}
.modal-dialog {
  margin-left: -25%;
}
.vertical-align-outer {
  display: table;
}
.vertical-align-column {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.matchup-verify-column .glyphicon {
  font-size: 1.7em;
}
.modal .pager a {
  border: 1px solid #2B3E50;
  background: #485563;
}
.modal .pager a:hover {
  background: #2B3E50;
}
.modal .input-group-addon {
  border: 1px solid #2B3E50;
  background: #485563;
  border: none;
}
.modal .input-group-addon:hover {
  background: #2B3E50;
}
#cache-stats-main .col-sm-6 {
  height: 166px;
}
#step-1 #find-users.btn-warning {
  opacity: 0.9;
  pointer-events: none;
}
#step-2-header.searching {
  height: 140px;
}
#progress-info {
  font-size: .8em;
  color: #b6b6b6;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
.progress {
  margin-bottom: 15px;
}
#progress-sticky {
  z-index: 999;
  background: #2b3e50;
}
.found-user-well {
  position: relative;
}
.found-user-well .matchup-marker {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #2B3E50;
  background: #485563;
  border: none;
}
.found-user-well .matchup-marker:hover {
  background: #2B3E50;
}
input[type="textbox"].error {
  border: 1px solid #D9534F;
  color: #D9534F;
}
input[type="textbox"].success {
  border: 1px solid #5FB760;
  color: #5FB760;
}
input[type="textbox"].required {
  border: 2px solid #60C0DC;
}
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  vertical-align: -4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
#progress-sticky.affix {
  top: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
  margin-left: -15px;
  padding: 5px 15px 0 15px;
}
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
  background-color: rgba(255, 255, 255, 0.3);
}
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2196f3;
  border-color: #2196f3;
}
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #bbb;
}
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #bbb;
  border-color: transparent;
}
#about-well {
  margin-top: -30px;
  background-color: rgba(78, 93, 108, 0.7);
}
footer {
  font-size: .9em;
  color: #c6c6c6;
  text-align: center;
  margin-top: 100px;
}
#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 2em;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
  #progress-sticky.affix {
    width: 585px;
  }
  #cache-stats-main .col-sm-6 {
    height: 127px;
  }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #progress-sticky.affix {
    width: 485px;
  }
  #cache-stats-main .col-sm-6 {
    height: 148px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #progress-sticky.affix {
    width: 375px;
  }
  #cache-stats-main .col-sm-6 {
    height: 149px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #progress-sticky.affix {
    width: 100%;
  }
  .modal-dialog {
    margin-left: 0;
  }
  #cache-stats-main .col-sm-6 {
    height: auto;
  }
}
